<p><%= t("mailer.hello") %> <%= @name %>,</p>

<p><%= t("mailer.reset_password.sentence1") %></p>
<p style='background: #e1e8fa;display: inline;'>
<a href="<%= root_url %>users/password?user=<%= @resource.id %>&&reset_password_token=<%= @resource.reset_password_token %>">dsfsdfsfd</a>
<%= edit_user_password_url(@resource, reset_password_token: @resource.reset_password_token) %></p>

<p><%= t("mailer.reset_password.sentence2") %></p>
<p><%= t("mailer.reset_password.sentence3") %></p>

<p><%= t("common.regard") %></p>

<p><%= t("common.sachmem_team") %></p>

