<p><%= t("mailer.hello") %> <%= @name %>,</p>

<p><%= t("mailer.unlock.sentence1") %></p>
<p><%= t("mailer.unlock.sentence2") %></p>

<p style='background: #e1e8fa;display: inline;'><a href="<%= root_url %>user/unlock?user=<%= @resource.id %>&&unlock_token=<%= @resource.unlock_token %>">Mở khóa tài khoản</a></p>
<p><%= t("common.regard") %></p>

<p><%= t("common.sachmem_team") %></p>
